*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}
.container{
	max-width: 1280px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
header{
	width: 100%;
	height: 110vh;
	padding: 40px 2%;
   /*max-height: 700px;*/
	background-size: cover;
	background-position: center;
	background-image: url('../images/capa.png');
	font-weight: 300;
}
header nav{
	float: right;

}
nav.mobile-menu{
	cursor: pointer;
	display: none;
	width: 32px;
	height: 32px;
	background-image: url('../images/menu.png');
	background-size: 100% 100%;
}
/*nav.mobile-menu:hover ul{
	opacity: 1;

}*/
nav.mobile-menu ul{
	display: none;
	/*transition: 1s;*/
	background-color: white;
	position: absolute;
	width: 100%;
	left: 0;
	top: 90px;
	list-style-type: none;
	text-align: center;
}
nav.mobile-menu ul li{
	padding: 8px 0;
	transition: 0.4s;
	border-bottom: 1px solid black;
}
nav.mobile-menu ul li:hover{
	background-color: rgb(230,230,230);
}
nav.mobile-menu ul li a{
	text-decoration: none;
	color: purple;
}
header .logo{
	position: relative;
	top: -6px;
	float: left;
	width: 160px;
	height: 40px;
	background-image: url('../images/logo-danki.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

}
.logo img{
	width: 160px;
	height: 50px;
}
header nav.desktop-menu ul{
	list-style-type: none;
}
header nav.desktop-menu li{
	float: left;
	padding: 0 20px;
}
header nav.desktop-menu li a{
	text-decoration: none;
	color: white;
}
.chamada1{
	float: right;
	max-width: 600px;
	height: 100%;
	margin:140px 150px;
}
.chamada1 h2{
	font-size: 40px;
	color: white;
	font-weight: 300;
}
.chamada1 p{
	font-size: 15px;
	color: white;
	margin-top: 10px;
}
section.sessao1{
	width: 100%;
	background-color: #472562;
	padding: 0px 2%;
	height: 400px;
}
section.sessao1 .container{
	max-width: 1000px;
	height: calc(100% + 30px);
}

.texto-sessao1{
	margin-top: 40px;
	padding-left: 60px;
	position: relative;
	left: 45px;
	float: left;
	width: 50%;
	color: white;
}
.texto-sessao1 h2{
	font-size: 26px;
	font-weight: 300;
}
.texto-sessao1 p{
	font-size: 15px;
	margin-top: 20px;
}
.texto-sessao1 ul{
	font-size: 15px;
	list-style-position: inside;
}
.texto-sessao1 ul li{
	margin-top: 8px;
	float: left;
	width: 100%;
}
.btn1{
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	color: white;
	font-size: 13px;
	cursor: pointer;
	margin-top: 30px;
	text-align: center;
	line-height: 44px;
	border-radius: 30px;
}

.device-sessao1{
	float: left;
	width: 50%;
	position: relative;
	top: -30px;
	height: 430px;
	background-image: url('../images/device.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.sessao2{
	padding-left: 2%;
	padding-right: 2%;
	background-color: white;
	text-align: center;
}
.sessao2 .container{
	max-width: 1000px;
}
.sessao2 h2{
	color: #472663;
	font-weight: 300;
}
.sessao2 p{
	margin-top: 30px;
	max-width: 700px;
	display: inline-block;
}
.sessao2 img{
	position: relative;
	top: 70px;
	width: 100%;
	margin-top: 10px;
	box-shadow: 10px 10px 5px;
}

.sessao3{
	width: 100%;

}
.part1{
	color: white;
	float: left;
	width: 50%;
	padding:140px 0 120px 0;
	background-color: #835FA7;
}
.wraper-part1{
	max-width: 600px;
	float: right;
	padding:0 30px;
}
.part1 h2{
	font-weight: 300px;
	font-style: italic;
	font-size: 23px;
}
.part1 p{
	font-size: 15px;
	line-height: 30px;
	margin-top: 10px;
}

.part2{
	float: left;
	width: 50%;
	padding: 140px 0 60px 0;
	background: white;
}
.scrollEquipe{
	max-width: 600px;
	padding-left: 20px;
	overflow: hidden;
}
.scroll-wraper{
	width: 100%;
}
.sobre-autor{
	float: left;
	width: 100%;
	padding: 0 20px;

}
.titulo-autor{
	float: left;
	width: 100%;
}
.wraper-titulo-autor{

	float: left;
}
.titulo-autor h2{
	color: #232323;
	font-weight: 400;
	font-size: 25px;
	padding-right: 20px
}
.titulo-autor p{
	font-size: 15px;
	color: #232323;
	font-style: italic;
	font-weight: 300;
}
.titulo-autor .img-autor{
	float: left;
	width: 40px;
	height: 40px;
	background-image: url('../images/actor1.png');
	background-size: 100% 100%;
	border-radius: 20px;
	top:-4px;
	position: relative;
	background-color: blue;
}
.texto-autor{
	float: left;
	width: 100%;
	margin-top: 10px;
}
.texto-autor p{
	color: #232323;
	font-size: 15px;
}

.bullets{
	width: 100%;
	float: left;
	margin-top: 12px;
	padding-left: 40px;
	margin-bottom: 30px;
}
.bullets span{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	margin-right: 8px; 
	cursor: pointer;
	float: left;
	background-color:rgb(200,200,200);
}

section.sessao4{
	background-color: #472563;
	padding: 100px 0;

}
.form{
	float: left;
	width: 50%;
	color: white;
	padding-left: 10px;
}
.form h2{
	font-size: 23px;
	font-weight: 300;
}
.form p{
	font-size: 15px;
	font-weight: 300;
	max-width: 400px;
	padding-right: 10px;
}
.form form{
	margin-top: 15px;
}
.form form input[type=text]{
	width: 90%;
	max-width: 480px;
	height: 58px;
	padding-left: 8px;
	line-height: 58px;
	border: 1px solid rgb(200,200,200);
	margin-top: 5px;
}
.form form textarea{
	width: 90%;
	max-width: 480px;
	padding: 15px;
	border: 1px solid rgb(200,200,200);
	height: 160px;
	margin-top: 8px;	
}
.form form input[type=submit]{
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	color: white;
	font-size: 13px;
	cursor: pointer;
	margin-top: 30px;
	text-align: center;
	line-height: 44px;
	border-radius: 30px;
	border: 0;
	}


.map-wraper{
	float: left;
	width: 50%;
	padding: 0 10px;
	color: white;
}
.map-wraper h2{
	font-size: 23px;
	font-weight: 300;
}
.map-wraper3{
	margin-top: 10px;
	width: 100%;
	max-width: 480px;
	position: relative;
}
.map-wraper2{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 100%;
}
.map {
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	border: 5px solid rgb(200,200,200);

}

footer{
	padding: 40px 2%;
	background: #192123;
	color: white;

}
footer p:nth-of-type(1){
	float: left;
	font-size: 14px;
}
footer p:nth-of-type(2){
	float: right;
	font-size: 14px;
}
/*@media screen and (max-width: 609px){
	header nav{
	float: none;
	display: inline-block;
	}
	header .logo{
	float: none;
	align-content: center;
	margin-bottom: 10px;
}
	header nav ul {
		text-align: center;
	}

}*/

@media screen and (max-width: 778px){
	header{
	width: 100%;
	height: auto;
	min-height: 90vh;
	padding: 40px 2%;
	}
	nav.desktop-menu{
		display: none;
	}
	nav.mobile-menu{
		display: block;
	}
	.chamada1{
		float: none;
		max-width:none;
		width: 100%;
		text-align: center;
		height: 100%;
		margin:100px 0;
	}
	.chamada1 h2{
		font-size: 30px;
		padding: 0 10px;
		color: white;
		font-weight: 300;
	}
	.chamada1 p{
		font-size: 15px;
		color: white;
		margin-top: 10px;
	}
	section.sessao1{
		padding: 40px 2%;
		height: auto;
		text-align: center;
	}	
	.texto-sessao1{
		width: 100%;
		float: none;
		margin-top: 0;
		padding-left: 0;
		position: static;
		display: inline-block;

	}
	.texto-sessao1 ul{
		display: inline-block;
		margin-top: 20px;
		align-items: center;
	}
	.texto-sessao1 ul li{
		float: none;
		text-align: left;
	}
	.btn1{
		display: inline-block;

	}
	.device-sessao1{
		display: none;
	}
	.sessao2{
		padding:40px 2%;
	}
	section.sessao4 .container{
		text-align: center;
	}
	.form{
		float: none;
		width: 100%;
	}
	.form p{
		display: inline-block;
	}
	.map-wraper{
		width: 100%;
		float: none;
		margin-top: 40px;
		padding: 0 4%;
	}
	.map-wraper3{
		margin-top: 10px;
		width: 80%;
		padding-top: 80%;
		display: inline-block;
		max-width: none;
		position: relative;
	}
	.map-wraper2{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding-top: 0;
	}
}

@media screen and (max-width: 580px){
	.part1{
		width: 100%;
		padding: 40px 0;
	}
	.part2{
		width: 100%;
		padding: 40px 0;
	}
	.sessao2 img{
	top: 60px;
	margin-top: 7px;
	
	}
	footer{
	text-align: center;


	}
	footer p:nth-of-type(1){
		float: none;
	}
	footer p:nth-of-type(2){
		float: none;
		margin-top: 8px;
}
}